@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), var(--font-geist-sans), sans-serif; /* ✅ Tambahkan Poppins */
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(
    --font-sans
  ); /* ✅ Gunakan font-sans yang sudah diperbarui */
}
